  <%- include("header") -%>  <!--we use this for layout -->
  
    <!--We have to add scriptlet tag i.e <% %> for every the control statements used in js lines written in ejs
       and <%= %> this is used to take input from the server-->
   <div class="box" id="heading">
       <h1> <%= listTitle %> </h1>   
   </div>
   <div class="box">
       <% for(var i=0; i<newlistitems.length; i++){ %>
         <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%=newlistitems[i]._id%>" onchange="this.form.submit()">
            <p> <%= newlistitems[i].name %> </p>
          </div>
          <input type="hidden" name="listName" value= <%= listTitle %> ></input>
         </form>
       <% } %>
    
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= <%= listTitle %> > + </button>
     </form>  
   </div>
<%- include("footer") -%>